{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-red-50">

    <h1 class ="bg-blue-100 text-center m-3 p-3 rounded font-bold">{{ name }}</h1>

    <div class="bg-blue-100 w-100 h-100 m-3 p-3 rounded">
        Lorem, ipsum dolor sit amet consectetur adipisicing 
        elit. Doloremque molestiae magnam cumque enim laudantium? Excepturi, ea veniam sint obcaecati voluptas quasi, alias accusamus 
        sit ducimus assumenda, non vero dolores unde.
    </div>
</body>
</html>